/*@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif;*/
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://th.bing.com/th/id/OIP.D7fhDWUUZpce9urOapVgfQHaE8?pid=Api&rs=1");
  width: auto;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

ion-icon {
  color: #3e809d;
  font-size: 28px;
  --ionicon-stroke-width: 35px !important;
  margin: auto 4px;
  cursor: pointer;
  transition: all 0.2s;
}

.bingSearchBar {
  width: 506px;
  min-height: 40px;
  max-height: 52px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 6px;
  background-color: #fff;
}

.bingSearchBar_input {
  height: 100%;
  flex-grow: 1;
  margin: 1px 0;
  border: 0;
  outline: none;
  padding: 12px 10px;
  font-size: 1.125rem;
  background-color: transparent;
}

/* Styling each anchor elem using :nth-of-type() */

.bingSearchBar_input a:nth-of-type(2) ion-icon {
  transform: rotateY(180deg);
}

/* Styling for tooltip */
.bingSearchBar a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s;
}

.tooltips {
  position: absolute;
  top: 0;
  left: 50%;
  width: 140px;
  background: rgb(92, 92, 92);
  padding: 10px;
  text-align: center;
  font-size: 13.5px;
  color: #fff;
  border-radius: 5px;
  transform: translate(
    -50%,
    100%
  ); /* inorder to bring it to bottom of the searchbar */
  opacity: 0;
  transition: all 0.2s;
}

/* make tooltip visible on btn hover */
.bingSearchBar a:hover .tooltips {
  opacity: 1;
}
/* for the arrow of tooltip */
.tooltips::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 15px;
  height: 15px;
  background: rgb(92, 92, 92);
  transform: translate(-50%, -25%) rotate(45deg);
}

/* to adjust the width of tooltip for each btn */

.bingSearchBar a:nth-of-type(2) .tooltips {
  width: 160px;
}

.bingSearchBar a:nth-of-type(3) .tooltips {
  width: 120px;
}
